# Library Management System

## Project Overview

The Library Management System allows users to manage a library's collection of books. This includes functionalities for adding new books, updating book information, viewing all books, and removing books from the database. The project uses Python for the application logic and MySQL for data storage and management.

## Libraries Used

### 1. **mysql.connector**
   - **Purpose**: Connects Python applications to MySQL databases and facilitates SQL operations.
   - **Key Functions**:
     - `connect()`: Establishes a connection to the MySQL database using the provided host, user, password, and database name.
     - `cursor()`: Creates a cursor object that allows interaction with the database by executing SQL queries.
     - `execute(query, params)`: Executes a SQL query with the specified parameters.
     - `commit()`: Commits the current transaction, saving any changes made to the database.
     - `close()`: Closes the cursor and database connection.

## Key Functions

### 1. **`add_book(title, author, genre, published_year)`**
   - **Purpose**: Adds a new book record to the database.
   - **Parameters**:
     - `title` (str): The title of the book.
     - `author` (str): The author of the book.
     - `genre` (str): The genre of the book (e.g., Fiction, Non-Fiction).
     - `published_year` (int): The year the book was published.
   - **SQL Operation**: Executes an `INSERT INTO` statement to add a new record to the `books` table.

### 2. **`view_books()`**
   - **Purpose**: Retrieves and displays all book records from the database.
   - **SQL Operation**: Executes a `SELECT * FROM` statement to fetch all records from the `books` table.
   - **Output**: Prints each book record to the console.

### 3. **`update_book(book_id, title=None, author=None, genre=None, published_year=None, status=None)`**
   - **Purpose**: Updates the information of an existing book record based on the provided parameters.
   - **Parameters**:
     - `book_id` (int): The ID of the book to be updated.
     - `title` (str, optional): The new title of the book.
     - `author` (str, optional): The new author of the book.
     - `genre` (str, optional): The new genre of the book.
     - `published_year` (int, optional): The new published year of the book.
     - `status` (str, optional): The new status of the book (e.g., 'Available', 'Checked Out').
   - **SQL Operation**: Constructs and executes an `UPDATE` statement to modify the specified fields of the book record.

### 4. **`remove_book(book_id)`**
   - **Purpose**: Deletes a book record from the database based on the provided book ID.
   - **Parameters**:
     - `book_id` (int): The ID of the book to be deleted.
   - **SQL Operation**: Executes a `DELETE FROM` statement to remove the specified record from the `books` table.

## Attributes and Database Setup

### Database: `library_management_system`
- **Tables**:
  - **`books`**: Stores information about books with the following columns:
    - `id` (INT, Primary Key): A unique identifier for each book.
    - `title` (VARCHAR): The title of the book.
    - `author` (VARCHAR): The author of the book.
    - `genre` (VARCHAR): The genre of the book.
    - `published_year` (INT): The year the book was published.
    - `status` (VARCHAR): The current status of the book (e.g., 'Available', 'Checked Out').

In [1]:
import mysql.connector

In [3]:
conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "new_password",
    database = "library_management_system"

)
cursor = conn.cursor()

#### Implement CRUD Operations:
##### Add a New Book:

In [4]:
def add_book(title, author, genre, published_year ):
    query = '''
    INSERT INTO books(title, author , genre, published_year)
    VALUES (%s , %s, %s , %s)
    '''
    cursor.execute(query, (title , author , genre , published_year))
    conn.commit()
    print("Book added successfully.")

##### View All Books:

In [5]:
def view_books():
    cursor.execute('SELECT * FROM books')
    records = cursor.fetchall()
    print("Book Records:")
    for record in records:
        print(record)

##### Update Book Information:

In [6]:
def update_book(book_id, title=None, author=None, genre=None, published_year=None, status=None):
    query = 'UPDATE books SET'
    params = []
    if title:
        query += ' title = %s,'
        params.append(title)
    if author:
        query += ' author = %s,'
        params.append(author)
    if genre:
        query += ' genre = %s,'
        params.append(genre)
    if published_year:
        query += ' published_year = %s,'
        params.append(published_year)
    if status:
        query += ' status = %s,'
        params.append(status)
    
    query = query.rstrip(',') + ' WHERE id = %s'
    params.append(book_id)

    cursor.execute(query, params)
    conn.commit()
    print("Book updated successfully.")

##### Delete a book:

In [7]:
def remove_book(book_id):
    cursor.execute('DELETE FROM books WHERE id = %s' , (book_id,))
    conn.commit()
    print("Book removed successfully.")

In [9]:
add_book("The Great Gatsby", "F. Scott Fitzgerald", "Classic", 1925)
add_book("To Kill a Mockingbird", "Harper Lee", "Fiction", 1960)
add_book("Dune", "Frank Herbert", "Science Fiction", 1965)
add_book("The Hound of the Baskervilles", "Arthur Conan Doyle", "Mystery", 1902)
add_book("Sapiens: A Brief History of Humankind", "Yuval Noah Harari", "Non-Fiction", 2011)
add_book("Pride and Prejudice", "Jane Austen", "Classic", 1813)
add_book("Harry Potter and the Sorcerer's Stone", "J.K. Rowling", "Fantasy", 1997)
add_book("The Diary of a Young Girl", "Anne Frank", "Biography", 1947)
add_book("The Book Thief", "Markus Zusak", "Historical Fiction", 2005)
add_book("Gone with the Wind", "Margaret Mitchell", "Romance", 1936)

Book added successfully.
Book added successfully.
Book added successfully.
Book added successfully.
Book added successfully.
Book added successfully.
Book added successfully.
Book added successfully.
Book added successfully.
Book added successfully.

In [11]:
update_book(1, status="Checked Out")
update_book(2, author="Frank Herbert (Updated)")

Book updated successfully.
Book updated successfully.

In [12]:
remove_book(5)

Book removed successfully.

In [13]:
view_books()

Book Records:
(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 'Classic', 1925, 'Checked Out')
(2, 'The Great Gatsby', 'Frank Herbert (Updated)', 'Classic', 1925, 'Available')
(3, 'To Kill a Mockingbird', 'Harper Lee', 'Fiction', 1960, 'Available')
(4, 'Dune', 'Frank Herbert', 'Science Fiction', 1965, 'Available')
(6, 'Sapiens: A Brief History of Humankind', 'Yuval Noah Harari', 'Non-Fiction', 2011, 'Available')
(7, 'Pride and Prejudice', 'Jane Austen', 'Classic', 1813, 'Available')
(8, "Harry Potter and the Sorcerer's Stone", 'J.K. Rowling', 'Fantasy', 1997, 'Available')
(9, 'The Diary of a Young Girl', 'Anne Frank', 'Biography', 1947, 'Available')
(10, 'The Book Thief', 'Markus Zusak', 'Historical Fiction', 2005, 'Available')
(11, 'Gone with the Wind', 'Margaret Mitchell', 'Romance', 1936, 'Available')