# Personal Expense Tracker

## Project Overview

The Personal Expense Tracker application helps users manage their expenses by allowing them to add, view, update, and delete expense records. The project is implemented in Python and uses MySQL as the database to store and manage the data.

## Libraries Used

### 1. **mysql.connector**
   - **Purpose**: This library allows Python programs to connect to MySQL databases and perform SQL operations.
   - **Key Functions**:
     - `connect()`: Establishes a connection to the MySQL database using specified credentials and database name.
     - `cursor()`: Creates a cursor object to interact with the database by executing SQL queries.
     - `commit()`: Saves the changes made by SQL operations like `INSERT`, `UPDATE`, and `DELETE`.
     - `close()`: Closes the database connection.

## Key Functions

### 1. **`add_expense(expense_tuple)`**
   - **Purpose**: Adds a new expense record to the database.
   - **Parameters**: 
     - `expense_tuple`: A tuple containing `(date, category, description, amount)`.
   - **SQL Operation**: Executes an `INSERT INTO` statement to add the new expense to the `expenses` table.

### 2. **`view_expenses()`**
   - **Purpose**: Fetches and displays all expense records from the database.
   - **SQL Operation**: Executes a `SELECT * FROM` statement to retrieve all records from the `expenses` table.
   - **Output**: Prints each expense record to the console.

### 3. **`update_expense(expense_id, date=None, category=None, amount=None, description=None)`**
   - **Purpose**: Updates existing expense records based on the provided parameters.
   - **Parameters**:
     - `expense_id`: The ID of the expense record to be updated.
     - `date`: (Optional) New date for the expense.
     - `category`: (Optional) New category for the expense.
     - `amount`: (Optional) New amount for the expense.
     - `description`: (Optional) New description for the expense.
   - **SQL Operation**: Executes an `UPDATE` statement to modify the specified fields of an existing expense record.
   - **Dynamic Query**: Constructs the query dynamically based on which parameters are provided, allowing for partial updates.

### 4. **`delete_expense(expense_id_tuple)`**
   - **Purpose**: Deletes an expense record from the database based on the provided expense ID.
   - **Parameters**:
     - `expense_id_tuple`: A tuple containing the `expense_id` of the record to delete.
   - **SQL Operation**: Executes a `DELETE FROM` statement to remove the specified record from the `expenses` table.

## Attributes and Database Setup

### Database: `personal_expense_tracker`
- **Tables**:
  - **`expenses`**: Stores individual expense records with the following columns:
    - `id` (INT, Primary Key): A unique identifier for each expense.
    - `date` (DATE): The date of the expense.
    - `category` (VARCHAR): The category of the expense (e.g., Food, Transportation).
    - `description` (VARCHAR): A description of the expense.
    - `amount` (FLOAT): The amount spent.

In [1]:
import mysql.connector

In [3]:
conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "new_password",
    database = "personal_expense_tracker"
)
cursor = conn.cursor()

#### Implement CRUD Operations:
##### Add a New Expense:

In [13]:
def add_expense(expense_tuple):
    # Unpack the tuple inside the function
    date, category, description, amount = expense_tuple
    cursor.execute('''
        INSERT INTO expenses (date, category, description, amount)
        VALUES (%s, %s, %s, %s)
    ''', (date, category, description, amount))
    conn.commit()
    print("Expense added successfully.")

##### View All Expenses:

In [15]:
def view_expense():
    cursor.execute('SELECT * FROM expenses')
    records = cursor.fetchall()
    print("Expense Records:")
    for record in records:
        print(record)

##### Update an Expense Record:

In [20]:
def update_expense(expense_id, date=None, category=None, amount=None, description=None):
    query = 'UPDATE expenses SET'
    params = []
    if date:
        query += ' date = %s,'
        params.append(date)
    if category:
        query += ' category = %s,'
        params.append(category)
    if amount:
        query += ' amount = %s,'
        params.append(amount)
    if description:
        query += ' description = %s,'
        params.append(description)
    query = query.rstrip(',') + ' WHERE id = %s'
    params.append(expense_id)
    cursor.execute(query, params)
    conn.commit()
    print("Expense updated successfully.")

##### Delete an Expense Record:

In [18]:
def delete_expense(expense_id_tuple):
    (expense_id,)= expense_id_tuple
    cursor.execute('DELETE FROM expenses WHERE id = %s', (expense_id,))
    conn.commit()
    print("Expense deleted successfully.")

In [14]:
# Example entries
add_expense(("2024-09-01", "Food", "Lunch at a restaurant", 15.50))
add_expense(("2024-09-02", "Transportation", "Uber ride to work", 8.75))

Expense added successfully.
Expense added successfully.

In [17]:
# View all expenses to validate the entries
view_expense()

Expense Records:
(1, datetime.date(2024, 9, 1), 'Food', 'Lunch at a restaurant', Decimal('15.50'))
(2, datetime.date(2024, 9, 2), 'Transportation', 'Uber ride to work', Decimal('8.75'))

In [21]:
update_expense(1, amount=30.00)

Expense updated successfully.

In [22]:
# View all expenses to validate the entries
view_expense()

Expense Records:
(1, datetime.date(2024, 9, 1), 'Food', 'Lunch at a restaurant', Decimal('30.00'))
(2, datetime.date(2024, 9, 2), 'Transportation', 'Uber ride to work', Decimal('8.75'))

In [24]:
delete_expense((2,))

Expense deleted successfully.