In [2]:
import sqlite3
import pandas as pd
import seaborn as sns 
from matplotlib import pyplot as plt

In [3]:
conn = sqlite3.connect('financial_data.db')
cursor = conn.cursor()

#### Income Table:

In [4]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS income (
        income_id INTEGER PRIMARY KEY AUTOINCREMENT,
        date TEXT,
        amount REAL,
        category TEXT,
        description TEXT
    )
''')

#### Expenses Table:

In [5]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS expenses (
        expense_id INTEGER PRIMARY KEY AUTOINCREMENT,
        date TEXT,
        amount REAL,
        category TEXT,
        description TEXT
    )
''')

In [6]:
#### Transactions Table:

In [7]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS transactions (
        transaction_id INTEGER PRIMARY KEY AUTOINCREMENT,
        date TEXT,
        amount REAL,
        type TEXT,  -- 'income' or 'expense'
        category TEXT,
        description TEXT
    )
''')

####  Insert Data into the Tables:

In [8]:
cursor.execute('''
    INSERT INTO income (date, amount, category, description)
    VALUES ('2024-09-15', 5000, 'Salary', 'Monthly salary for September')
''')

In [9]:
cursor.execute('''
    INSERT INTO expenses (date, amount, category, description)
    VALUES ('2024-09-16', 1500, 'Groceries', 'Weekly grocery shopping')
''')

In [10]:
conn.commit()

In [11]:
query = """
SELECT income.date, income.amount AS income_amount, expenses.amount AS expense_amount
FROM income
LEFT JOIN expenses ON income.date = expenses.date;
"""
df = pd.read_sql_query(query, conn)

In [12]:
df['balance'] = df['income_amount'] - df['expense_amount']
total_income = df['income_amount'].sum()
total_expenses = df['expense_amount'].sum()
net_balance = df['balance'].sum()

In [18]:

df['date'] = pd.to_datetime(df['date'], errors='coerce')  # Convert to datetime

In [19]:
# Group by month and sum only the numeric columns
monthly_report = df.groupby(df['date'].dt.to_period('M')).sum(numeric_only=True)

# Print the result
print(monthly_report)

         income_amount
date
2024-09         5000.0