# Library Management System

This document provides an overview of the Library Management System implemented using Python and SQLite. It includes details on libraries used, table structure, functions, and example usage.

## Libraries Used

- **SQLite**: A lightweight, disk-based database that doesn't require a separate server process.
- **Python `sqlite3` Library**: Provides a SQL interface compliant with the DB-API 2.0 specification.

## Table Structure

The `books` table in the SQLite database is designed to store information about books. The table has the following columns:

| Column           | Type    | Description                                  |
|------------------|---------|----------------------------------------------|
| `id`             | INTEGER | Primary key, auto-incremented                |
| `title`          | TEXT    | Title of the book                            |
| `author`         | TEXT    | Author of the book                           |
| `published_date` | TEXT    | Publication date of the book                 |
| `isbn`           | TEXT    | International Standard Book Number (unique)  |

## Functions

- **`add_book(title, author, published_date, isbn)`**: Adds a new book to the database.
  
- **`view_books()`**: Displays all books currently in the database.
  
- **`update_book(book_id, title=None, author=None, published_date=None, isbn=None)`**: Updates the information of an existing book identified by `book_id`.
  
- **`delete_book(book_id)`**: Deletes a book from the database by its `book_id`.
### python code ->

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        published_date TEXT,
        isbn TEXT UNIQUE
    )
''')
conn.commit()

In [3]:
def add_book(title, author, published_date, isbn):
    cursor.execute('''
        INSERT INTO books (title, author, published_date, isbn)
        VALUES (?, ?, ?, ?)
    ''', (title, author, published_date, isbn))
    conn.commit()

In [4]:
def view_books():
    cursor.execute('SELECT * FROM books')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

In [5]:
def update_book(book_id, title=None, author=None, published_date=None, isbn=None):
    query = 'UPDATE books SET'
    params = []
    if title:
        query += ' title = ?,'
        params.append(title)
    if author:
        query += ' author = ?,'
        params.append(author)
    if published_date:
        query += ' published_date = ?,'
        params.append(published_date)
    if isbn:
        query += ' isbn = ?,'
        params.append(isbn)
    query = query.rstrip(',') + ' WHERE id = ?'
    params.append(book_id)
    cursor.execute(query, params)
    conn.commit()

def delete_book(book_id):
    cursor.execute('DELETE FROM books WHERE id = ?', (book_id,))
    conn.commit()

In [6]:
# Sample Entries
add_book('1984', 'George Orwell', '1949-06-08', '1234567890')
add_book('To Kill a Mockingbird', 'Harper Lee', '1960-07-11', '0987654321')
add_book('The Great Gatsby', 'F. Scott Fitzgerald', '1925-04-10', '1122334455')

# View all books
print("Books in the library:")
view_books()

Books in the library:
(1, '1984', 'George Orwell', '1949-06-08', '1234567890')
(2, 'To Kill a Mockingbird', 'Harper Lee', '1960-07-11', '0987654321')
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', '1925-04-10', '1122334455')

In [7]:
# Update a book
update_book(1, title='Nineteen Eighty-Four', author='George Orwell')

In [8]:
# Delete a book
delete_book(3)

In [9]:
# View all books again to see the changes
print("Updated list of books in the library:")
view_books()

Updated list of books in the library:
(1, 'Nineteen Eighty-Four', 'George Orwell', '1949-06-08', '1234567890')
(2, 'To Kill a Mockingbird', 'Harper Lee', '1960-07-11', '0987654321')

In [10]:
# Close the connection
conn.close()