# Personal Expense Tracker

## Objective
Build an application to track personal expenses, allowing users to add, view, update, and delete expense records.

## Setup and Requirements

- **Library:** SQLite3
- **Technology:** Python

## Steps to Build the Application

In [1]:
import sqlite3
from tabulate import tabulate

In [2]:
conn = sqlite3.connect('expense_tracker.db')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS expenses(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    date TEXT NOT NULL,
    description TEXT,
    category TEXT,
    amount REAL NOT NULL
)

''')
conn.commit()

### Function to add an expense

In [5]:
def add_expense(date , description, category, amount):
    try:
        query = "INSERT INTO expenses(date, description, category, amount) VALUES (?, ?, ?, ?)"
        values = (date, description, category, amount)
        cursor.execute(query, values)
        conn.commit()
        print(f"Expense added successfully;{values}")
    except sqlite3.Error as e:
        print(f"An Error Occured while adding expense:{e}")

### Function to view all expenses

In [6]:
def view_expenses():
    try:
        cursor.execute("Select * from expenses")
        results = cursor.fetchall()
        if not results:
            print("no expenses found.")
        else:
            headers = ["ID" , "DATE" , "Description" , "Category" , "Amount"]
            print(tabulate(results , headers = headers , tablefmt="grid"))
    except sqlite3.Error as e:
        print(f"An Error occured while viewing expenses: {e}")

In [7]:
# Add Sample Data with New and Different Entries
add_expense('2024-09-06', 'Monthly rent', 'Housing', 1200.00)
add_expense('2024-09-07', 'Gym membership', 'Health', 45.00)
add_expense('2024-09-08', 'Book purchase', 'Education', 22.75)
add_expense('2024-09-09', 'Lunch at café', 'Food', 18.50)
add_expense('2024-09-10', 'Internet bill', 'Utilities', 60.00)
add_expense('2024-09-11', 'Concert tickets', 'Entertainment', 85.00)
add_expense('2024-09-12', 'Bus fare', 'Transportation', 12.00)
add_expense('2024-09-13', 'Phone bill', 'Utilities', 40.00)
add_expense('2024-09-14', 'Dinner at restaurant', 'Food', 55.00)
add_expense('2024-09-15', 'Coffee shop visit', 'Food', 7.25)

# View expenses after adding the sample data
view_expenses()

Expense added successfully;('2024-09-06', 'Monthly rent', 'Housing', 1200.0)
Expense added successfully;('2024-09-07', 'Gym membership', 'Health', 45.0)
Expense added successfully;('2024-09-08', 'Book purchase', 'Education', 22.75)
Expense added successfully;('2024-09-09', 'Lunch at café', 'Food', 18.5)
Expense added successfully;('2024-09-10', 'Internet bill', 'Utilities', 60.0)
Expense added successfully;('2024-09-11', 'Concert tickets', 'Entertainment', 85.0)
Expense added successfully;('2024-09-12', 'Bus fare', 'Transportation', 12.0)
Expense added successfully;('2024-09-13', 'Phone bill', 'Utilities', 40.0)
Expense added successfully;('2024-09-14', 'Dinner at restaurant', 'Food', 55.0)
Expense added successfully;('2024-09-15', 'Coffee shop visit', 'Food', 7.25)
+------+------------+----------------------+----------------+----------+
|   ID | DATE       | Description          | Category       |   Amount |
+======+============+======================+================+==========+
|   61 | 2024-09-01 | Weekly groceries     | Food           |   120.5  |
+------+------------+----------------------+----------------+----------+
|   62 | 2024-09-02 | Bus pass             | Transportation |    35    |
+------+------------+----------------------+----------------+----------+
|   63 | 2024-09-03 | Electricity bill     | Utilities      |    75.25 |
+------+------------+----------------------+----------------+----------+
|   64 | 2024-09-04 | Dinner with friends  | Food           |    45    |
+------+------------+----------------------+----------------+----------+
|   65 | 2024-09-05 | Movie tickets        | Entertainment  |    30    |
+------+------------+----------------------+----------------+----------+
|   66 | 2024-09-06 | Monthly rent         | Housing        |  1200    |
+------+------------+----------------------+----------------+----------+
|   67 | 2024-09-07 | Gym membership       | Health         |    45    |
+------+------------+----------------------+----------------+----------+
|   68 | 2024-09-08 | Book purchase        | Education      |    22.75 |
+------+------------+----------------------+----------------+----------+
|   69 | 2024-09-09 | Lunch at café        | Food           |    18.5  |
+------+------------+----------------------+----------------+----------+
|   70 | 2024-09-10 | Internet bill        | Utilities      |    60    |
+------+------------+----------------------+----------------+----------+
|   71 | 2024-09-11 | Concert tickets      | Entertainment  |    85    |
+------+------------+----------------------+----------------+----------+
|   72 | 2024-09-12 | Bus fare             | Transportation |    12    |
+------+------------+----------------------+----------------+----------+
|   73 | 2024-09-13 | Phone bill           | Utilities      |    40    |
+------+------------+----------------------+----------------+----------+
|   74 | 2024-09-14 | Dinner at restaurant | Food           |    55    |
+------+------------+----------------------+----------------+----------+
|   75 | 2024-09-15 | Coffee shop visit    | Food           |     7.25 |
+------+------------+----------------------+----------------+----------+

### Function to update an expense

In [8]:
def update_expenses(expense_id, new_description):
    query = "UPDATE expenses SET description = ? WHERE id =?"
    values = (new_description, expense_id)
    cursor.execute(query, values)
    conn.commit()
    print("Expenses updated successfully.")

### Function to delete an expense

In [9]:
def delete_expense(expense_id):
    query = "DELETE FROM expenses where id = ?"
    cursor.execute(query , (expense_id,))
    conn.commit()
    print("Expense deleted successfully")

In [10]:
cursor.close()
conn.close()